canvas {
    position: absolute;
    z-index: -1;
}

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

p {
    font-family: vcr_osd_monoregular;
    font-weight: normal;
    font-size: normal;
    font-size: 32px;
    color: #f8f8ff;
}

p,
div,
h1,
h2 {
    cursor: default;
}

hr {
    background: rgb(120, 81, 169);
    height: 5px;
    margin: 25px 5%;
    border-width: 0px;
}

.vl {
    border-left: 6px solid rgb(120, 81, 169);
}

@media only screen and (max-width: 768px) {
    .vl {
        display: none;
    }
}

.introduction {
    height: 100vh;
}

.info-block, .content-block {
    font-family: vcr_osd_monoregular;
    font-weight: normal;
    font-size: normal;
    font-size: 32px;
    color: #f8f8ff;
    margin: 0px 0px 20px 0px;
    padding: 20px 25px;
    border: 10px solid rgba(102, 51, 153, 0.7);
    border-left: none;
    border-right: none;
    background: rgba(55, 23, 88, 0.7);
    position: relative;
}

.info-block h1 {
    text-align: center;
    width: 100%;
    text-decoration: none;
}

.beta {
    margin: 0px;
    padding: 10px 5px 0px 10px;
    border-top: 0px;
    border-right: 0px;
    display: fixed;
    border-radius: 0;
    border-bottom-left-radius: 25px;
    position: absolute;
    right:0;
    top:0;
    z-index: 1000;
    background: rgba(55, 23, 88, 1);
    border-color: rgba(102, 51, 153, 1);
    border-left: 10px solid rgba(102, 51, 153, 1);
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    padding-bottom: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    -webkit-tap-highlight-color: transparent;
}

.info-block p {
    font-size: 26px;
    padding-bottom: 15px;
    line-height: 120%;
}

a,
a:active,
a:hover,
a:focus {
    color: rgb(197, 197, 255);
    text-decoration: underline;
}
.content-block a {
    text-decoration: none;
}
.content-block ol {
    padding: 0px 0px 0px 8%;
}

h1.page-title {
    font-family: vcr_osd_monoregular;
    font-weight: bold;
    font-size: normal;
    text-align: center;
    font-size: 96px;
    color: #f8f8ff;
    position: relative;
    top: 40%;
}

h2.page-title {
    font-family: vcr_osd_monoregular;
    font-weight: bold;
    font-size: normal;
    text-align: center;
    text-align: center;
    font-size: 32px;
    color: #f8f8ff;
    position: relative;
    top: 42.5%;

}

@media only screen and (max-width: 768px) {

    h1.page-title {
        font-family: vcr_osd_monoregular;
        font-weight: bold;
        font-size: normal;
        text-align: center;
        font-size: 60px;
        margin: 0px 10%;
        color: #f8f8ff;
        position: relative;
        top: 40%;
    }
    
    h2.page-title {
        font-family: vcr_osd_monoregular;
        font-weight: bold;
        font-size: normal;
        text-align: center;
        text-align: center;
        font-size: 20px;
        color: #f8f8ff;
        position: relative;
        top: 42.5%;
    
    }
}

.gap {
    padding: 85px 0px;
}

/* Animations */
.fade-in,
.fade-in a,
#nav .fade-in,
.fade-in-nav {
    animation: fadeIn-to-top 0.75s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    user-select: none;
    text-decoration: none;
    color: #f8f8ff;
}

.fade-in a:nth-child(1) {
    animation-delay: 1.5s
}

.fade-in a:nth-child(2) {
    animation-delay: 1.75s
}

.fade-in a:nth-child(3) {
    animation-delay: 2s
}

.fade-in a:nth-child(4) {
    animation-delay: 2.25s
}

.fade-in a:nth-child(5) {
    animation-delay: 2.5s
}

.fade-in-nav {
    animation-delay: 3.5s
}

.nav-bottom {
    animation: fadeIn-to-bottom 0.75s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    bottom: 0;
    right: 0;
}

@keyframes fadeIn-to-top {
    from {
        opacity: 0;
        transform: translateY(1.25em);
    }

    to {
        opacity: 1;
        transform: translateY(0em);
    }
}

@keyframes fadeIn-to-bottom {
    from {
        opacity: 0;
        transform: translateY(-1.25em);
    }

    to {
        opacity: 1;
        transform: translateY(0em);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

/* Font */
@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('./fonts/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
        url('./fonts/vcr_osd_mono_1.001-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



#nav {
    display: flex;
    font-family: vcr_osd_monoregular;
    font-weight: bold;
    font-size: normal;
    text-align: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    color: #f8f8ff;
    position: absolute;
    margin: 25px 25px;
}

@media only screen and (max-width: 768px) {
    #nav {
        display: flex;
        flex: 0 0 50%;
        font-family: vcr_osd_monoregular;
        font-weight: bold;
        font-size: normal;
        text-align: center;
        text-transform: uppercase;
        color: #f8f8ff;
        position: absolute;
        margin: 20px 0px 25px 0px;
        justify-content: center;
        font-size: auto;
        flex-wrap: wrap;
    }

    .nav-bottom {
        width: 100%;
    }
}

#nav div {
    display: table-cell;
    position: relative;
    padding: 8px 0;
}

div #nav {
    margin: 3% 3%;
}

#nav div a,
#nav div p {
    text-align: center;
    padding: 0px 12px 0px 12px;
}

#nav a,
#nav a:hover,
#nav a:focus,
#nav a:active {
    text-decoration: none;
    color:inherit;
    transition: color 0.3s ease 0s;
}

#nav a:hover {
    text-decoration: none;
    color:white;
}

#nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s, height 0.3s ease 0s, color 0.3s ease 0s;
    width: 0;
}

#nav a:hover:after {
    height: 5px;
    width: 85%;
    left: 7.5%;
}


#nav {
    z-index: 999;
    user-select: none;
}

.expand-img {
    display: fixed;
    text-align: center;
}
.expand-img input[type=radio] {
    display: none
}
  
.expand-img img {
    margin: 10px 0px;
    width: 30%;
    height: 30%;
    border: 5px solid rgb(197, 197, 255);
    transition: transform 0.25s ease, top 0.25s ease, left 0.25s ease, position 0.25s ease;
    cursor: zoom-in
}

.expand-img input[type=radio]:checked~img {
    transform: scale(2);
    cursor: zoom-out
}

.showcase-img {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0xp;
    padding: 0px;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 1000;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    animation: fadeIn 0.35s ease;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-direction: normal;
    cursor: zoom-out;
}

.showcase-img-fadein {
    animation: fadeIn 0.35s ease;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-direction: normal;
}

.showcase-img-fadeout {
    animation: fadeOut 0.35s ease;
    animation-fill-mode: forwards;
    opacity: 1;
    animation-direction: normal;
}

.showcase-img-scalein {
    animation: scaleIn 0.35s ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.showcase-img-scaleout {
    animation: scaleOut 0.35s ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.showcase-img img {
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
    border: 5px solid rgb(197, 197, 255);
    cursor: default;
}

.showcase-img p {
    border: 10px solid rgb(102, 51, 153);
    background: rgb(55, 23, 88);
    padding: 10px;
    margin: 25px 10%;
    line-height: 120%;
    border-radius: 10px;
    cursor: default;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 1em;
    background: #838383;
}

::-webkit-scrollbar-thumb {
    background: #f8f8ff;
    border-radius: 0.25em;
}

/* Font Awesome */
.fab,
.nav-bottom div p {
    font-size: 48px;
    padding: 0px;
    margin: 0px;
}

/* Skills */

.skill-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.skill-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

.skill-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0px 0px;
}

.skill {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.skill-star-container {
    text-align: none;
}

.skill p {
    font-size: 36px;
    font-weight: bold;
    flex-wrap: wrap;
    
}

.skill i {
    font-size: 42px;
    
}

@media only screen and (max-width: 768px) {
    .skill {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        padding: 0.5em 0em 0.75em 0em;

        border-top: 3px solid rgb(120, 81, 169);
    }

    .skill-list {
        width: 100%;
        flex-direction: column;
    }

    .skill-tab {
        width: 50%;
        margin: 0px auto;
    }

    .skill-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill p {
        text-align: center;
    }

    .skill-star-container {
        text-align: center;
    }
}

.languages
{
    margin: 0px auto;
}