:root {
    --primary-text-color: ghostwhite;
    --visited-link-color: rgb(79, 149, 255);
    --hovered-link-color: rgb(242, 255, 61);
    --content-expander-color: rgb(132, 113, 238);
}

#mainCanvas {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body {
    background-color: rgb(0, 0, 0);
    color: var(--primary-text-color);
    font-family: monospace;
}

#mainpage {
    width: min(768px, 95%);
    margin: auto;
}

button {
    border: 2px solid var(--primary-text-color);
    padding: 5px;
    background-color: black;
    color: var(--primary-text-color);
}

button:hover {
    color: var(--hovered-link-color);
    border: 2px solid var(--hovered-link-color);
    cursor: pointer;
}

hr {
    background-color: var(--primary-text-color);
    border: 0 none;
    color: var(--primary-text-color);
    height: 3px;
}

a:visited {
    color: var(--visited-link-color);
}

a:hover {
    color: var(--hovered-link-color);
}

/* 7abibi, ana ba3ref eno el robots asba7o azkeya  */
.e-hidden {
    text-decoration: underline;
    hyphens: auto;
    cursor: pointer;
    color: var(--visited-link-color);
}

/* Expand images and images in general */
.expand-assets {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;

}

.expand-video {
    position: relative;
    margin: 5px;
    transition: transform 0.15s ease;
}

.expand-assets img {
    margin: 5px;
}

.expand-assets img,
.expand-assets video {
    width: 200px;
    height: 120px;
    object-fit: cover;
    border: 5px solid var(--visited-link-color);
    background-color: rgb(255, 255, 255);
    cursor: zoom-in;
    transition: transform 0.15s ease;
}

.expand-assets img:hover,
.expand-video:hover {
    transform: scale(1.15);
    z-index: 2;
}

.label-content {
    position: absolute;
    display: inline-block;
    background-color: var(--visited-link-color);
    left: 0;
    top: 0;
    padding: 5px 7px;
    font-size: 28px;
}

.showcase-img,
.showcase-work {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-direction: normal;
    cursor: zoom-out;
}

#expand-div-content {
    width: 100%;
    height: 100%;
}

.showcase-darken {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.975);
    height: 100%;
}

.showcase-expanded {
    position: fixed;
    width: 92.5%;
    height: 90%;
    margin: 5% 0 5% 0;
    padding: 0px;
    top: 2.5%;
    left: 3.75%;
    z-index: 1000;
    animation: fadeIn 0.3s ease;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-direction: normal;
    cursor: zoom-out;
    color: #f8f8ff;
}

.showcase-expanded p {
    margin: 25px auto;
    line-height: 120%;
    cursor: default;
}

.showcase-expanded .expand-assets {
    width: 90%;
}

.showcase-expanded .info-block-details {
    width: 100%;
}

.showcase-img-fadein {
    animation: fadeIn 0.3s ease;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-direction: normal;
}

.showcase-img-fadeout {
    animation: fadeOut 0.3s ease;
    animation-fill-mode: forwards;
    opacity: 1;
    animation-direction: normal;
}

.showcase-img-scalein {
    animation: scaleIn 0.3s ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.expand-scalein {
    animation: scaleIn 0.3s ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.showcase-img-scaleout {
    animation: scaleOut 0.3s ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.showcase-img img,
.showcase-img video {
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
    border: 5px solid var(--visited-link-color);
    cursor: default;
}

.showcase-img p {
    text-align: center;
    padding: 10px;
    margin: 25px 10%;
    line-height: 120%;
    border-radius: 10px;
    cursor: default;
}

.showcase-img {
    position: fixed;
}

@keyframes fadeIn-to-top {
    from {
        opacity: 0;
        transform: translateY(1.25em);
    }

    to {
        opacity: 1;
        transform: translateY(0em);
    }
}

@keyframes slide-In {
    from {
        transform: translateY(3em);
        opacity: 1;
    }

    to {
        transform: translateY(0em);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.01);
    }

    to {
        transform: scale(1);
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.01);
    }
}