---
const year = new Date().getFullYear();
---

<hr />
<footer class="site-footer">
    © Sami Shakkour - {year} | Website by me, see{" "}
    <a
        href="https://github.com/SamiSha99/SamiSha99.github.io/"
        target="_blank"
        rel="noopener noreferrer">source code</a
    >. | Contact me via my{" "}
    <a onclick="areYouABotQuestionMark()" class="e-hidden">&lt;Email&gt;</a>.
</footer>
