---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Point and Interact" description="My projects" chrome={false}>
    <div style="width: 75%; margin: auto">
        <h1>I don't know how you got here, check out some links:</h1>
        <ul>
            <li><a href="/projects/hat-point-and-interact-framework/">Point and Interact</a></li>
            <li><a href="/projects/color-reader/">Color Picker</a></li>
            <li><a href="/projects/mask/">Mask Images</a></li>
            <li><a href="/">Main Page</a></li>
            <li>Soon™</li>
        </ul>
    </div>
</BaseLayout>
